<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>I thought what I&apos;d do was, </string>
	<string>I&apos;d pretend</string>
	<string>I was one of those deaf-mutes.</string>
	<string></string>
	<string></string>
	<string>世の中に不満があるなら</string>
	<string>自分を変えろ</string>
	<string>それが嫌なら、</string>
	<string>耳と目を閉じ、</string>
	<string>口をつぐんで</string>
	<string>孤独に暮らせ</string>
</array>
</plist>
